body {
    font-family: 'Lato', sans-serif;
    background-image: url(media/asphalt.jpg);
    background-size: 1100px;
    }

.container {
    position: sticky;
    width: 75%;
}

.navbar {
    position: relative;
    background-image: url(media/navbar.gif);
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 218px;
  }

  /* .navbar {
    border: 0;
    background: transparent url('media/navbar.gif') no-repeat center center;
    background-size: cover;
    position: relative;
    height: 218px;
    margin: 0 6%;
  } */

.logo {
    display: inline-flex;
    width: 15%;
    position: absolute;
    top: 30%;
    left: .2%;
  }

.navbar-nav {
    font-family: 'Bungee', cursive;
    font-size: 38px;
    position: absolute;
    top: 100px;
    right: -6px;
}

.nav-item {
    padding-right: 69px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.7);
}
