body {
    font-family: 'Lato', sans-serif;
    background-image: url(media/asphalt.jpg);
    background-size: 1100px;
    color: white;
    }

.container {
}

.navbar {
  position: fixed;
  left: 44%;
  transform: translate(-38%, 0);
  background-image: url(media/navbar.gif);
  background-repeat: no-repeat !important;
  background-size: contain !important;
  height: 218px;
  }

  /* .navbar {
    border: 0;
    background: transparent url('media/navbar.gif') no-repeat center center;
    background-size: cover;
    position: relative;
    height: 218px;
    margin: 0 6%;
  } */


.navbar-brand {
  /* position: absolute; */
  width: 15%;
  top: 65px;
  left: 5px;
  transform: translate(-8%, 96%);
}

.logo {
  width: 100%;
  }

.navbar-collapse {
  transform: translate(14%, 0);
  width: 100%;
  /* position: absolute; */
  /* top: 10px;
  left: 10px; */
}
.navbar-light .navbar-nav .nav-link {
    /* position: absolute; */
    color: rgba(0,0,0,1);
  }

.navbar-nav {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Bungee', cursive;
  font-size: calc(.7em + 1vw);
}

.nav-item {
    /* padding-right: 69px; */
}

.nav-item:last-child {
  padding-right: 0px;
}

/* #Form{
  position: fixed;
  width: 100%;
  left: 23%;
  top: 10%;
  background-image: url("media/form_background.png");
  background-repeat: no-repeat !important;
  background-size: contain !important;
  height: 695px;
  z-index: 2;
} */
#Form{
  position: fixed;
  width: 55%;
  left: 23%;
  top: 18%;
  background-image: url("media/form_background2.png");
  background-repeat: no-repeat !important;
  background-size: contain !important;
  height: 1437px;
  z-index: 2;
}

.forms{
  margin-top: 5%;
  margin-left: 20%;
  width: 80%;
  font-size: calc(.7em + 1vw);
  font-family: 'Bungee', cursive;
  color: black;
  line-height: 200%;
  opacity: .8;
}

.input-lg{
  height: 100px;;
}

.h1 {
  font-size: 42px;
  font-family: 'Bungee Inline', cursive;
}

.about {
  padding-top: 230px;
  /* margin-left: 455px; */
}

.about_background {
  width: 105%;
}

.product {
  margin-top: 225px;
  /* margin-left: 455px; */
}

.product_image {
  max-width: 51%;
  transform: translate(41%, 0);
}
.product_image2 {
  max-width: 85%;
  transform: translate(14%, 0);
}
.product_image3 {
  max-width: 79%;
  transform: translate(15%, 0);
}

#shopIcon{
  position: relative;
}

#output {
  position: absolute;
  top: 42%;
  left: 27%;
  font-family: 'Bungee', cursive;
  color: black;
  font-size: calc(2em + 1vw);
}

#page {
  font-size: 33px;
}

.row.about {
}

.row.review {
  padding-top: 230px;
  margin-bottom: 130px;
}

.row.service {
  padding-top: 226px;
  margin-bottom: 100px;
}

.carousel-control-prev {
  opacity: 1;
}
.carousel-control-prev-icon {
  width: 48px;
  height: 77px;
  background-image: url("media/left_button.png");
}

.carousel-control-next {
  opacity: 1;
}
.carousel-control-next-icon {
  width: 48px;
  height: 77px;
  background-image: url("media/right_button.png");
}

.arrow {
  width: 6%;
}

#contact_info{
  font-family: 'Bungee', cursive;
  line-height: 200%;
  opacity: .8;
}
.contact_background{
  color: black;
  position: absolute;
  background-image: url("media/cardboard_texture.gif");
  padding-left: -15px;;
  left: 0px;
  height: 416px;
  width:100%;
}

.price{
  width: 100%
}

.buy_now{
  width: 100%;
}