.container {
    background-color:
}

.row {
    background-color:
}

.card {
    height: 595px;
    overflow: hidden;
}

/* [class^="col-"]:first-child {
    background-color: aquamarine;
}

[class^="col-"]:last-child {
    background-color: salmon;
} */